* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 0.5rem;
}

h2 {
    margin-bottom: 2rem;
    padding-top: 10vh;    
}

h3,
h4 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #d3d2d4;
}

i {
    font-size: 2rem;
}

hr {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #d3d2d4;
}

.grid1 {
    column-count: 2;
}

.grid2 {
    column-count: 4;
}

.grid3 {
    column-count: 3;
}

html {
    color: #d3d2d4;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #371636;
}

header {
    height: 15vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    transition-duration: .5s;
}

header.scrolled {
    height: 10vh;
    background-color: #6d2c6c;
}

.cabecalho {
    height: 100%;
    width: 100vw;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.toggle__menu {
    top: 0;
}

.bi-list {
    display: none;
    cursor: pointer;
}

#sobre {
    background-image: url('../img/bg.png');
    background-position: center;
    background-size: cover;
}

.sobre {
    min-height: 100vh;
    width: 100vw;
    padding: 1rem;
    text-align: center;
    background-color: #6d2c6c90;
}

.sobre img {
    width: 200px;
    height: 200px;
    margin-top: 20vh;
    border: #d3d2d4 5px solid;
    border-radius: 50%;
}

.sobre div {
    width: calc(100vw - 2rem);
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 1rem;
    background-color: #371636;
}

.experiencia {
    min-height: 100vh;
    width: 100vw;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

.experiencia .card {
    min-height: 500px;
}

.card {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #522151;
}

#formacao {
    background-color: #522151;
}

.formacao {
    min-height: 90vh;
    width: 100vw;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

.formacao .card {
    background-color: #371636;
}

.habilidades {
    min-height: 100vh;
    width: 100vw;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

#portifolio {
    padding-bottom: 0;
    background-color: #522151;
}

.portifolio {
    min-height: 90vh;
    width: 100vw;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

.portifolio .card {
    min-height: 225px;
    background-color: #371636;
}

.bi-box-arrow-up-right {
    font-size: .8rem;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    background-color: #371636;
}

@media (max-width: 500px) {
    html {
        font-size: 90%;
    }

    .bi-list {
        display: block;
    }

    nav {
        width: 100%;
        padding: 3rem 0;
        position: fixed;
        top: calc(-100vh);
        right: 0;
        flex-direction: column;
        transition-duration: 1s;
        background-color: #1b0a1b;
    }

    .grid1,
    .grid3 {
        column-count: 1;
    }

    .grid2 {
        column-count: 2;
    }
}